@charset "ISO-8859-1";
main{
    padding: 300px 20px 20px 20px;
    background-color: white;
    background-image: url(C:\Users\ignac\OneDrive\Documentos\GitHub\GamelandProyectoFinal\WebContent\CSS\images\fot_inicio.jpg);
 
}
main section{
	  background-color: white;
	  height: 100%;
	  padding: 10px;
	  border: yellow;
}
	  
.button {
	  background-color: yellow;	
}