@charset "ISO-8859-1";
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
form input[type="text"]{
width: 205px;
background: none;
padding: 10px;
border-radius: 24px;
border: 2px solid #3498bd;
margin-bottom: 25px;
text-align: center;
font-family: sans-serif;
transition: 0.25s;
}
form input[type = "submit"]{
    width: 25%;
    border: 0;
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px 20px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}
form input[type = "submit"]:hover{
    background: #2ecc71;
    transition: 1s;
}
