@charset "ISO-8859-1";
nav {
	border-top: solid 40px #333;
	display: flex;
    justify-content: space-between;
}
nav .logo {
	margin-left: 10px;
}

nav .item-logo {
	display: flex;
	margin-left: 40px;
}



.logo-icono{
	height: 60px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	background-image: url(images/gameland.png);
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ffff0069;
}

nav li a.active {
  background-color: yellow;
}